hasura-metadata-dev/sample.hasura_metadata.json
hasura-metadata-prod/sample.hasura_metadata.json
hasura-migrations-dev/sample.hasura_migrations.json
hasura-migrations-prod/sample.hasura_migrations.json